venv/

backend/__pychache__/
backend/**/*.pyc
backend/**/*.pyo

.idea/
*.iml
.vscode/

.git/
.gitignore

__pychache__/
*.pyc
*.pyo

docker/
Dockerfile
docker-compose.yml
.dockerignore

*.log
*.env
coverage/

README.md
docs/